@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fafafa;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

.btn-default {
  padding: 25px 65px 25px 65px;
  background-color: #ff0000;
  border-radius: none;
  font-weight: 700;
  color: #fafafa;
}

@media only screen and (max-width: 991px) {
  .btn-default {
    display: block;
    text-align: center;
  }
}

.btn-default:hover {
  -webkit-box-shadow: -12px 5px 18px #57595a;
          box-shadow: -12px 5px 18px #57595a;
}

header {
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
}

.pd-r {
  padding-right: 4%;
}

.pd-l {
  padding-left: 4%;
}

@media only screen and (max-width: 991px) {
  .pd-l {
    padding-left: 0% !important;
  }
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 1380px) {
  .main-nav {
    display: none;
  }
}

.main-nav .col-menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-nav .col-menu img {
  max-width: 250px;
}

.main-nav .col-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav .col-menu ul li {
  float: left;
  padding-left: 25px;
}

.main-nav .col-menu ul li a {
  color: #cccccc;
  display: block;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

@media screen and (max-width: 1590px) {
  .main-nav .col-menu ul li a {
    padding: 25px 10px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.main-nav .col-menu ul li a:hover {
  color: #fff;
  font-weight: 700;
}

.main-nav .col-menu-2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-nav .col-menu-2 a {
  color: #cccccc;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 25px 35px 25px 35px;
  margin-left: 10px;
  border-radius: 0;
}

.main-nav .col-menu-2 .btn,
.main-nav .col-menu-2 .header-cta:hover {
  background: #ff0000 !important;
  font-weight: 700;
}

.mobile-nav {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-nav .mobile-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mobile-nav .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.mobile-nav .mobile-nav .split-mobile {
  width: 50%;
}

.mobile-nav .mobile-nav .split-mobile a {
  color: #ffffff;
}

.mobile-nav .mobile-nav .split-mobile .closeNav {
  display: none;
}

.mobile-nav .mobile-nav .split-mobile .btn-mobile {
  border-radius: 0;
  padding: 8px 15px;
  color: #fff;
  margin-left: 10px;
}

@media only screen and (max-width: 547px) {
  .mobile-nav .mobile-nav .split-mobile .btn-mobile:nth-child(2) {
    display: none;
  }
}

.mobile-nav .mobile-nav .split-mobile .btn-mobile:nth-child(3) {
  display: none;
}

@media only screen and (max-width: 547px) {
  .mobile-nav .mobile-nav .split-mobile .btn-mobile:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-nav .mobile-nav .split-mobile .btn-mobile-active,
.mobile-nav .mobile-nav .split-mobile .btn-mobile:hover {
  background-color: #ff0000;
}

.mobile-nav .mobile-nav .split-mobile:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-nav .mobile-menu {
  width: 100%;
  height: 50vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-nav .mobile-menu .mobile-menu-nav {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mobile-nav .mobile-menu .mobile-menu-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mobile-nav .mobile-menu .mobile-menu-nav ul li {
  display: block;
  text-align: center;
}

.mobile-nav .mobile-menu .mobile-menu-nav ul li a {
  color: #cccccc;
  display: block;
  padding-bottom: 50px;
  text-decoration: none;
}

.mobile-nav .mobile-menu .mobile-menu-nav ul li a:hover {
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 1380px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero-container {
  background: url("/assets/hero.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 150px;
}

@media only screen and (max-width: 991px) {
  .hero-container {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), url("/assets/video.png");
    background: linear-gradient(rgba(0, 0, 0, 0.8)), url("/assets/video.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
  }
}

.hero-container .images-holder {
  margin: auto 0;
}

.hero-container h1 {
  color: #ffffff;
  padding-top: 20px;
}

@media only screen and (max-width: 1525px) {
  .hero-container h1 {
    font-size: 48px !important;
  }
}

@media only screen and (max-width: 425px) {
  .hero-container h1 {
    font-size: 38px !important;
  }
}

@media only screen and (max-width: 991px) {
  .hero-container h1 {
    display: block;
    text-align: center;
  }
}

.hero-container p {
  color: #dddddd;
  padding-right: 22%;
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .hero-container p {
    display: block;
    text-align: center;
    padding-right: 0;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .hero-container a {
    display: block;
    text-align: center;
  }
}

.hero-container .img-icon {
  position: relative;
  left: -80px;
}

@media only screen and (max-width: 991px) {
  .hero-container .col-lg-6:nth-child(2) {
    display: none;
  }
}

.hero-container .col-lg-6:nth-child(2) img {
  max-width: 750px;
}

@media only screen and (max-width: 1525px) {
  .hero-container .col-lg-6:nth-child(2) img {
    width: 100%;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.methodology-section {
  padding-top: 60px;
  background-color: #ffffff;
  padding-bottom: 145px;
}

.methodology-section .section-title {
  font-size: 24px;
  color: #050708;
  text-align: center;
}

.methodology-section .section-sub-title {
  font-size: 30px;
  color: #050708;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
  line-height: 1.4;
}

.methodology-section .text {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #4b4b4b;
}

.methodology-section .images-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 200px;
}

@media only screen and (max-width: 1024px) {
  .methodology-section .images-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 80px;
  }
}

.methodology-section .images-logo img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 1280px) {
  .methodology-section .images-logo img {
    width: 180px !important;
    padding-bottom: 10px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.methodology-section .section-split {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.methodology-section .section-split .section-sub-title-2 {
  color: #050708;
  font-size: 24px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split .section-sub-title-2 {
    text-align: center;
  }
}

.methodology-section .section-split p {
  color: #4b4b4b;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split p {
    text-align: center;
  }
}

.methodology-section .section-split .spacer {
  padding-left: 100px;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.methodology-section .section-split .split {
  width: 50%;
  margin: auto 0;
  padding-bottom: 250px;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split .split {
    padding-bottom: 50px;
    width: 100%;
  }
}

.methodology-section .section-split .split img {
  width: 100%;
  max-width: 565px;
}

.methodology-section .section-split-4 {
  padding-bottom: 70px;
}

.methodology-section .section-split-4 .split-content {
  padding-top: 80px;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split-4 .split-content .split {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split-4 .split-content .col-lg-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.methodology-section .section-split-4 .split-content h3 {
  font-size: 24px;
  color: #050708;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split-4 .split-content h3 {
    text-align: center;
  }
}

.methodology-section .section-split-4 .split-content p {
  font-size: 18px;
  color: #4b4b4b;
}

@media only screen and (max-width: 991px) {
  .methodology-section .section-split-4 .split-content p {
    text-align: center;
  }
}

.methodology-section .btn-methhodology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .methodology-section .btn-methhodology a {
    display: block !important;
  }
}

.products-section {
  background: url("/assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 140px;
}

.products-section .e-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-section .products-text {
  padding-bottom: 100px;
}

.products-section .products-text h3 {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 60px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .products-section .products-text h3 {
    padding-left: 0;
    padding-right: 0;
  }
}

.products-section .products-text p {
  font-size: 18px;
  color: #8f8f8f;
  text-align: center;
}

.products-section .product-counter {
  padding-top: 20px;
}

.products-section .product-counter h3 {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #f01e0f !important;
  font-weight: 800;
}

.products-section .product-counter h3 i {
  font-size: 48px;
  color: #f01e0f !important;
  font-weight: 800;
}

.products-section .product-counter p {
  display: block;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.products-section .rating {
  padding-top: 130px;
  display: block;
  text-align: center;
  color: #ebe7e7;
  font-size: 18px;
}

.products-section .rating p {
  padding-bottom: 100px;
}

.products-section .rating p i {
  color: #f1b500;
}

.products-section .rating p i:nth-child(5) {
  padding-right: 60px;
}

.products-section .rating h5 {
  color: #f01e0f;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.review-section {
  padding-top: 200px;
  margin: auto 0;
}

@media only screen and (max-width: 991px) {
  .review-section {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 1200px) {
  .review-section .split:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.review-section .split img {
  max-width: 500px;
}

@media only screen and (max-width: 1200px) {
  .review-section .split img {
    width: 100% !important;
    padding-bottom: 50px;
  }
}

.review-section .split h3 {
  font-size: 23px;
  font-weight: 700;
  color: #050708;
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .review-section .split h3 {
    text-align: center;
  }
}

.review-section .split p {
  font-size: 18px;
  color: #666666;
}

@media only screen and (max-width: 991px) {
  .review-section .split p {
    text-align: center;
  }
}

.review-section .split ol {
  padding-top: 35px;
}

@media only screen and (max-width: 991px) {
  .review-section .split ol {
    padding-left: 15%;
  }
}

.review-section .split ol li {
  margin-left: -20px;
  padding-bottom: 32px;
}

.review-section .split ol li a {
  text-decoration: none;
  color: #666666;
}

.review-section .split ol li a:hover {
  color: #2f2f2f;
}

.review-section .split .btn-methhodology {
  padding-top: 40px;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .review-section .split .btn-methhodology .btn-default {
    padding: 15px 25px !important;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.review-section .sed-ut {
  padding-top: 110px;
  padding-bottom: 150px;
}

.review-section .sed-ut .review-title {
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #050708;
  font-weight: 700;
  padding-bottom: 60px;
}

.review-section .sed-ut p {
  color: #666666;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.review-section .sed-ut .sid-ut-row {
  padding-top: 85px;
}

.review-section .sed-ut .sid-ut-row .col-lg-4 {
  padding-bottom: 60px;
}

.review-section .sed-ut .sid-ut-row .col-lg-4 h4 {
  color: #ff0000;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 40px;
}

@media only screen and (max-width: 991px) {
  .review-section .sed-ut .sid-ut-row .col-lg-4 h4 {
    display: block;
    text-align: center;
  }
}

.review-section .sed-ut .sid-ut-row .col-lg-4 .split-text {
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media only screen and (max-width: 991px) {
  .review-section .sed-ut .sid-ut-row .col-lg-4 .split-text {
    text-align: center !important;
  }
}

.review-section .sed-ut .btn-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress-section {
  background: url("/assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 150px;
}

.progress-section .progress-title {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 90px;
}

.progress-section .progress-title .e-blurb {
  position: relative;
  left: -40px;
}

.progress-section .progress-title h3 {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 50px;
}

.progress-section .progress-title p {
  text-align: center;
  color: #666666;
}

.progress-section .progress-card .card {
  background-color: #ffffff;
  padding: 56px 45px 40px 45px;
  border-radius: 0;
}

@media only screen and (max-width: 991px) {
  .progress-section .progress-card .card {
    margin-bottom: 20px;
  }
}

.progress-section .progress-card .card img {
  max-width: 70px;
  margin: 0 auto;
}

.progress-section .progress-card .card .img-hover {
  display: none;
}

.progress-section .progress-card .card h4 {
  font-size: 30px;
  color: #050708;
  display: block;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
}

.progress-section .progress-card .card h6 {
  font-size: 14px;
  color: #bfbfbf;
  font-weight: 700;
  display: block;
  text-align: center;
  padding-bottom: 35px;
}

.progress-section .progress-card .card p {
  text-align: center;
  font-size: 18px;
  color: #666666;
  padding-bottom: 40px;
}

.progress-section .progress-card .card .btn-card {
  color: #ffffff;
  background: url("/assets/hero.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.progress-section .progress-card .card:hover {
  background-color: #c40c08;
}

.progress-section .progress-card .card:hover .img-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-section .progress-card .card:hover .img-default {
  display: none;
}

.progress-section .progress-card .card:hover h4 {
  color: #d1d3d5;
}

.progress-section .progress-card .card:hover h6 {
  color: #d1d3d5;
}

.progress-section .progress-card .card:hover p {
  color: #d1d3d5;
}

.progress-section .progress-card .card:hover .btn-card {
  background: #ff0000;
  -webkit-box-shadow: -9px 12px 12px rgba(0, 0, 0, 0.2);
          box-shadow: -9px 12px 12px rgba(0, 0, 0, 0.2);
}

.entreprenuer-section {
  padding-top: 140px;
  padding-bottom: 120px;
}

.entreprenuer-section .text-enterprenuer {
  padding-bottom: 130px;
}

.entreprenuer-section .text-enterprenuer h2 {
  display: block;
  text-align: center;
  color: #050708;
  font-size: 30px;
  font-weight: 700;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 60px;
}

.entreprenuer-section .text-enterprenuer p {
  color: #2f2f2f;
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .entreprenuer-section .reverse img {
    width: 100%;
    padding-bottom: 20px;
  }
}

.entreprenuer-section .split-container {
  padding-bottom: 180px;
}

.entreprenuer-section .split-container .split {
  margin: auto 0;
}

.entreprenuer-section .split-container .split h3 {
  color: #050708;
  font-size: 24px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .split-container .split h3 {
    display: block;
    text-align: center;
  }
}

.entreprenuer-section .split-container .split p {
  color: #2f2f2f;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .split-container .split p {
    text-align: center;
  }
}

.entreprenuer-section .split-container .split img {
  max-width: 100%;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .split-container .split img {
    padding-bottom: 20px;
  }
}

.entreprenuer-section .split-container .split:nth-child(3),
.entreprenuer-section .split-container .split:nth-child(4),
.entreprenuer-section .split-container .split:nth-child(5),
.entreprenuer-section .split-container .split:nth-child(6),
.entreprenuer-section .split-container .split:nth-child(7),
.entreprenuer-section .split-container .split:nth-child(8) {
  padding-top: 160px;
}

.entreprenuer-section .entre-card {
  padding-top: 180px;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .entre-card {
    padding-top: 80px;
  }
}

.entreprenuer-section .entre-card h2 {
  display: block;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #050708;
  padding-bottom: 60px;
}

.entreprenuer-section .entre-card p {
  color: #2f2f2f;
  padding-left: 12%;
  padding-right: 12%;
  text-align: center;
}

.entreprenuer-section .entre-card .card-holder {
  padding-top: 75px;
}

.entreprenuer-section .entre-card .card-holder .card {
  border: none;
}

.entreprenuer-section .entre-card .card-holder .card img {
  max-width: 380px;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .entre-card .card-holder .card img {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 495px) {
  .entreprenuer-section .entre-card .card-holder .card img {
    max-width: 250px !important;
    margin: 0 auto;
  }
}

.entreprenuer-section .entre-card .card-holder .card h6 {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #050708;
  font-weight: 700;
  font-size: 24px;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .entre-card .card-holder .card h6 {
    display: block;
    text-align: center;
  }
}

.entreprenuer-section .entre-card .card-holder .card p {
  padding-left: 0;
  padding-right: 0;
  color: #2f2f2f;
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .entre-card .card-holder .card p {
    text-align: center;
  }
}

.entreprenuer-section .entre-card .card-holder .card a {
  text-decoration: underline;
  color: #ff0000;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
}

@media only screen and (max-width: 991px) {
  .entreprenuer-section .entre-card .card-holder .card a {
    display: block;
    text-align: center;
    padding-bottom: 40px;
  }
}

.entreprenuer-section .entri-logo {
  padding-top: 150px;
}

.entreprenuer-section .entri-logo h3 {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #050708;
}

.entreprenuer-section .entri-logo .images-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 200px;
}

@media only screen and (max-width: 1024px) {
  .entreprenuer-section .entri-logo .images-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 80px;
  }
}

.entreprenuer-section .entri-logo .images-logo img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding-left: 15px;
  padding-right: 15px;
  max-width: 220px;
}

@media only screen and (max-width: 1280px) {
  .entreprenuer-section .entri-logo .images-logo img {
    width: 180px !important;
    padding-bottom: 10px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
}

.entreprenuer-section .entri-rating .star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entreprenuer-section .entri-rating .star-rating i {
  color: #f5c300;
  padding-left: 10px;
  padding-right: 10px;
}

.entreprenuer-section .entri-rating a {
  display: block;
  text-align: center;
  padding-top: 30px;
  text-decoration: underline;
  color: #ff0000;
  font-size: 20px;
  font-weight: 700;
}

.footer {
  background: url("/assets/hero.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 80px;
}

.footer .footer-logo {
  padding-bottom: 70px;
  border-bottom: 1px solid #323333;
}

.footer .footer-logo .cta-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer-logo .cta-logo img {
  width: 90%;
}

@media only screen and (max-width: 991px) {
  .footer .footer-logo .cta-logo img {
    width: 60%;
    margin: 0 auto;
  }
}

.footer .footer-logo .cta-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 991px) {
  .footer .footer-logo .cta-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer-logo .cta-footer p {
  padding-top: 12px;
  color: #ebe7e7;
  padding-right: 20px;
}

@media only screen and (max-width: 991px) {
  .footer .footer-logo .cta-footer p {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer .footer-logo .cta-footer .cta-btn {
  position: relative;
  top: -15px;
  background-color: #c40c08;
  color: #d1d3d5;
  padding: 25px 35px 25px 35px;
  border-radius: 0;
}

@media only screen and (max-width: 991px) {
  .footer .footer-logo .cta-footer .cta-btn {
    text-align: center;
  }
}

.footer .footer-menu {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .footer .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .footer .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.footer .footer-menu ul li {
  padding-left: 60px;
}

@media only screen and (max-width: 991px) {
  .footer .footer-menu ul li {
    float: left;
    padding-left: 0px;
    padding-bottom: 5px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .footer .footer-menu ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.footer .footer-menu ul li a {
  color: #cccccc;
  display: block;
  padding-bottom: 25px;
  text-decoration: none;
}

.footer .footer-menu ul li a:hover {
  color: #fff;
  font-weight: 700;
}

.footer .footer-menu p {
  color: #8f8f8f;
  line-height: 2;
}

@media only screen and (max-width: 991px) {
  .footer .footer-menu p {
    text-align: center;
  }
}

.footer .footer-menu .legal-cta {
  padding-top: 10px;
}

.footer .footer-menu .legal-cta a {
  color: #8f8f8f;
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 991px) {
  .footer .footer-menu .legal-cta a {
    display: block;
    text-align: center;
  }
}

.footer .footer-menu .legal-cta a:hover {
  color: #ffffff;
}

.footer .footer-cta-social {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 60px;
  padding-bottom: 70px;
  border-top: 1px solid #323333;
  padding-top: 60px;
}

.footer .footer-cta-social a {
  color: #8f8f8f;
}

@media only screen and (max-width: 991px) {
  .footer .footer-cta-social a {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
}

.footer .footer-cta-social .social-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 991px) {
  .footer .footer-cta-social .social-cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-cta-social .social-cta a {
  padding-left: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.sticky + .methodology {
  padding-top: 102px;
}
/*# sourceMappingURL=style.css.map */